Sinvest
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  /* This is the most important line for buttons to work */
  pointer-events: all;

  &.hidden
  {
    display: none;
    /* Ensure mouse passes through when hidden */
    pointer-events: none;
  }

  .hud {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: all;
  }

  .menu-button {
    min-height: 44px;
    min-width: 100px;
    padding: 0.75rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0044aa;
    color: white;
    pointer-events: all;
    cursor: pointer;
    transition: background-color 0.05s; /* Adds a snappy feel to the color change */

    &:hover {
      background-color: #0066ff;
    }
    
    &:active {
      background-color: #ff0000;
    }
  }
}